# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# Build
build/
dist/
*.spec.bak

# Installer
installer_output/

# PyInstaller
*.exe
*.msi

# IDE
.vscode/
.idea/

# Database locale
finance_tracker.db

# AppData di test
data/

# Logs
*.log

# Mac
.DS_Store

# Windows
Thumbs.db
desktop.ini

